.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: #4773FC;
}

.about-title{
    
}

.about h1{
    font-size: 2rem;
}

.about hr{
    border: 2px solid black;
    border-radius: 50px;
    width: 40%;
}

.about p{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.container-about{
    display: flex;
    padding: 0.1rem 2rem;
    width: 1300px;
}

.image-about{
    position: absolute;
    bottom: 0%;
    right: 0%;
}


@media screen and (max-width: 768px){

}

@media screen and (min-width: 1600px){
    .image-about{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 65%;
    }
}