.hero{
    background: #EBF1FF ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh; 
}

.hero-container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 2rem;
}

.hero h1{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #000;
    font-family: 'Inter' , sans-serif;
}

.btn-container{
    display: flex;
    gap: 25px;
}

.btn-container a{
    text-decoration: none;
    font-weight: 500;
}

#btn-projetos{
    background-color: #0F1B33;
    border: 2px solid #0F1B33;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s ease-in-out all;
}

#btn-projetos:hover{
    background-color: transparent;
    color: #0F1B33;
}

#btn-contact{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    color: #000;
    transition: 0.3s ease-in-out all;
}

#btn-contact:hover{
    background-color: #000;
    color: #fff;
}

.blank-space{
    background-color: transparent;
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 768px){
    .hero{
        background: #EBF1FF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: calc(100vh - 15vh); 
    }
    
    .hero-container{
        width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.1rem 2rem;
    }
    
    .hero h1{
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 1.3rem;
        line-height: 2.5rem;
        color: #000;
        font-family: 'Inter' , sans-serif;
    }
    
    .btn-container{
        display: flex;
        gap: 25px;
    }
    
    .btn-container a{
        text-decoration: none;
        font-weight: 500;
    }
    
    #btn-projetos{
        background-color: #0F1B33;
        border: 2px solid #0F1B33;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        transition: 0.3s ease-in-out all;
    }
    
    #btn-projetos:hover{
        background-color: transparent;
        color: #0F1B33;
    }
        
    .blank-space{
        background-color: transparent;
        width: 200px;
        height: 100px;
    }
}