.plexo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 100px 0;
}

.logo-alex {
    margin-bottom: 50px;
    height: 100%;
}

.plexo-container {
    height: 100%;
    max-width: 1100px;
}

.plexo-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    font-size: 1.3rem;
}

.plexo-container img {
    max-width: 1100px;
}

.apresentation-1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 360px;
    margin-bottom: 10px;
}

.image-1{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczN1rQK2wXWKVbZ9lu7ZYmAajSye65T90gAWKU5yh89nbsScN6-L3tlXOLCFlQ1kM3ZedZkCxS5PSgmLwrDhFUmCPEz3rruRZ94gbrmBFZ-AbjDWSE_ZxB-ev2-dW4eARjJzUbvyD0Izwz2HErgXcYI=w510-h510-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.image-2{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczPl_GkhIbfApaUxrKo8zL3vaSuNb8RD7aPha-UsWXN_jcGWt3kfhewK-iAuXQGo8skfrfQqROK3kp8LCK7uEGk0X41VFUl5btlWViVeg18aGtqFZeTT0VUJSdfQuHk8dcAlaXF6s5mL5rOqmChoemg=w510-h510-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.image-3{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczME_E0rMilGfvbLYopxioOSMWtevjxhVvmdmuTJmZo5SS1zCOQEmOXeh0spZoaL11DRUzafVWBzHToEFmCL66HzAGFsELGDNr5PrdYr0DzuABFYHj7fbaqF5YA-RyJ0cLAYO234ZQNvAadnH-WnhUM=w510-h510-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.logo-apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    height: 205px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo1{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczNXAJB3tTsskrS9wmnQ8xDTU1QI1FIbjjrYW7Lcuu4gkHjj0KlGGPY8r1dc-WL1HV4v88N92B7iTK9WDVTb0HwQBNGQaf6MjFNPZ17BkrOhI8Czqbi7vBOdQflVbHuqOrBLZcedwsEm2fXdaUx_Br8=w1313-h739-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.logo2{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczMN8QTVohCbrxtPW8fq92Ii5c2wENC_qRleZ4dfQ5araDw7VsQOy4Wf-zL0MTue0G2C1S-pEPml8lRfpChYzU2gWHyOdpMbpNfTBXcrdcaDUb3dyg_PQAeKPt9KuxrfTPkoTPeKh-IZkjbZ4gsDTzQ=w1313-h739-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.logo3{
    background: url('https://lh3.googleusercontent.com/pw/AP1GczNEaSKKx-nYQ7GI4tk9USJpM4sd588WjuB3p-HT5A6Zi2VyC3wnKZP8KbhsnkIfRKXzHyhSjATTrBDKwXpC2Q41H0FewqVt0_iS44DNoTo97DJRgHgDn5SRq5rmSb5yiFu4Ml49WrFPHDF2nJX6ZaQ=w1312-h739-s-no-gm?authuser=3') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.mockups{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .plexo-container {
        height: 100%;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .plexo-container-text {
        font-size: 0.9rem;
        padding: 10px;
        margin-top: 10px;
    }    

    .plexo-container img {
        max-width: 100%;
    }

    .apresentation-1{
        display: flex;
        height: 110px;
        margin-bottom: 10px;
        width: 100%;
    }

    .logo-apresentation{
        display: flex;
        height: 65px;
        margin-bottom: 10px;
        width: 100%;
    }
    
}